---
interface Props {
  nombre?: string;
  link?: string;
}
const { nombre = "", link = "" } = Astro.props;
---

<li>
  <a
    href={link}
    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0"
    >{nombre}</a
  >
</li>
